.card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.CardSign:hover{
    color:red;
    cursor: pointer;
}
.carousel-item {
    height: 350px;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.counter-minus, counter-plus{
    align-items: center;
    justify-content: center;
    width: 40px;
}

a, button {
    cursor: pointer;
    color: inherit;
}
#logInForm{
    margin: auto;
}
