<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Магазин</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--user styles-->
    <link rel="stylesheet" th:href="@{css/main.css}" href="css/main.css"/>
</head>
<body>
<!--МЕНЮ-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Мой магазин</a>
    <!--humburger-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
        </ul>
    </div>
    <div class="form-row">
        <a href="/login" class="btn btn-primary button-auth">Войти</a>
    </div>
    <a href="card" class="CardSign">Корзина
        <span class="counter">0</span>
    </a>
</nav>
<div class="content">
    <div class="row">
        <div th:each="item: ${items}" class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <img th:alt="${item.name}" th:src="${item.img}?${item.img}:'img/card.jpg'" class="card-img-top">
                <div class="card-body">
                    <h5 th:text="${item.name}" class="card-title"></h5>
                    <p class="card-text">Цена: <span class="price" th:data-items-id="${item.id}" th:text="${item.price}"></span></p>
                    <button class="btn btn-primary" name="buy" th:data-items-id="${item.id}">Купить</button>
                    <a th:href="@{|/viewItem/${item.id}|}" class="btn btn-primary" th:data-items-id="${item.id}">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script   type="text/javascript"  src="script/main.js"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
</body>
</html>