<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Магазин</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--user styles-->
    <link rel="stylesheet" th:href="@{css/main.css}" href="css/main.css"/>
</head>
<body>
<!--МЕНЮ-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Мой магазин</a>
    <!--humburger-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>Артикул</th>
            <th>Товар</th>
            <th>Цена</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="cardItems">
        <tr th:each="item: ${items}" class="col-lg-3 col-md-4 col-sm-6">
            <td th:utext="${item.id}"></td>
            <td th:utext="${item.id}"></td>
            <td th:utext="${item.name}"></td>
            <td th:utext="${item.price}"></td>
            <td><a th:href="@{|/edit/${item.id}|}" class="btn btn-primary" th:data-items-id="${item.id}">Изменить данные</a>
            <a th:href="@{|/delete/${item.id}|}" class="btn btn-danger" th:data-items-id="${item.id}">Удалить товар</a></td>
        </tr>
        <tr>
            <td colspan="5">
                <a href="/add" class="btn btn-success">Добавить товар</a></td>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <a href="/admin" class="btn btn-primary">Панель администратора</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script   type="text/javascript"  src="script/main.js"></script>
<script   type="text/javascript"  src="script/card.js"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
</body>
</html>