<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Авторизация</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--user styles-->
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<!--МЕНЮ-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Мой магазин</a>
    <!--humburger-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
        </ul>
    </div>
</nav>


<div class="content">
    <div class="row">
        <form id="logInForm" action="#" th:action="@{/login}" method="POST">
            <legend class="title-auth">Авторизация</legend>
            <div class="form-row col-md-6">
                <label class="label-auth">
                    <span>Логин</span>
                    <input id="uname" type="text" th:name="username" required>
                </label>
            </div>
            <div class="form-row col-md-6">
                <label class="label-auth">
                    <span>Пароль</span>
                    <input id="password" type="password" th:name="password" required autofocus >
                </label>
            </div>
            <div class="form-row col-md-6">
                <input type="submit" class="btn btn-primary" value="Войти"/>
                <a href="/newuser" class="btn btn-primary">Зарегистрироваться</a>
            </div>
        </form>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>