.card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.CardSign:hover{
    color:red;
    cursor: pointer;
}
.carousel-item {
    height: 350px;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}